<script setup lang="ts">
import { type Product } from '@/types/POS/Product'
const props = defineProps<{
    product: Product
}>()
const emit = defineEmits<{
    selectedProduct: [Product]
}>()
const selected = function (){
    emit('selectedProduct', props.product)
}
</script>
<template>
    <v-sheet width="150" height="200" elevation="3" @click="selected">
        <v-img :src="`./img/coffee/product${product.id}.png`" height="150" cover></v-img> 
        <div style="text-align: center;">{{ product.name }}<br>{{ product.price }} บาท</div>
           
    </v-sheet>
</template>