<script setup lang="ts">
import type { BuyMaterial } from '@/types/Stock/BuyMaterial'
import BuyMaterialCard from './BuyMaterialCard.vue';
const props = defineProps<{
    buyMats: BuyMaterial[]
}>()
const emit = defineEmits<{
    selectedMaterial:[BuyMaterial]
}>()
function selected(p:BuyMaterial ){
    console.log('BuyMatrialList' + p)
    emit('selectedMaterial',p)

}

</script>
<template>
    <div style="overflow-y: auto;height: 800px;">
    <v-container>
        <v-row>
            <v-col cols="12" md="4" v-for="item of buyMats" :key="item.id">
             <BuyMaterialCard :buyMat="item" @selectedMaterial="selected"></BuyMaterialCard>   
            </v-col>
        </v-row>
    </v-container>
</div>
</template>