<script setup lang="ts">
import { useReceiptMaterialStore } from '@/stores/receiptmaterial';

const receiptStore = useReceiptMaterialStore()
</script>
<template>
    <v-container style="text-align: center; text" class="font-weight-bold">
        <v-row no-gutters>
            <v-col cols = "6">ยอดรวม</v-col><v-col>{{receiptStore.receipt?.total}}</v-col>
        </v-row>
    </v-container>
</template>@/stores/receiptmaterial