<script setup lang="ts">
import { useReceiptStore } from '@/stores/POS'

const receiptStore = useReceiptStore()
</script>
<template>
  <v-dialog v-model="receiptStore.paymentCash" persistent width="300px">
    <v-card style="font-family: 'Kanit', sans-serif;">
      <v-card-title style="font-family: 'Kanit', sans-serif; font-size: 18pt; text-align: center;" > Payment </v-card-title>
      <v-container>
        <v-row no-gutters>
          <v-col style="text-align: center" cols="5">Money: </v-col>
          <v-col style="" cols="7">
            <v-text-field
              v-model="receiptStore.receipt.receivedAmount"
              density="compact"
              width="20px"
              variant="outlined"
              label="Input Money"
              type="number"
              single-line
              hide-details
              @change=" receiptStore.calchange()"
              @keyup.enter="receiptStore.showbill()"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col style="text-align: center" cols="5"> ยอดรวม: </v-col>
          <v-col>{{ receiptStore.receipt.total }}</v-col>
        </v-row>
        <v-row>
          <v-col style="text-align: center" cols="5"> เงินทอน: </v-col>
          <v-col>{{ receiptStore.receipt.change.toFixed(2) }}</v-col>
        </v-row>
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              receiptStore.paymentCash = false
              receiptStore.receipt.receivedAmount = 0
              receiptStore.receipt.change = 0
            }
          "
        >
          ยกเลิก
        </v-btn>
        <v-btn color="green-darken-1" variant="text" @click="() => {
              if(receiptStore.receipt.receivedAmount < receiptStore.receipt.total){
                return
              }
              receiptStore.showbill()
            }
        ">
          ถัดไป
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="receiptStore.paymentQR" persistent width="300px" style="font-family: 'Kanit', sans-serif;">
    <v-card>
      <v-card-title style="font-family: 'Kanit', sans-serif; font-size: 18pt; text-align: center;"> Payment </v-card-title>
      <v-img src="./img/cafe/QR.png" cover></v-img>
      <div style="text-align: center; font-size: 16pt;">ยอดรวม: {{ receiptStore.receipt.total }} บาท</div>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="receiptStore.paymentQR = false"
        >
          ยกเลิก
        </v-btn>
        <v-btn color="green-darken-1" variant="text" @click="receiptStore.showbill()">
          ถัดไป
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="receiptStore.paymentCredit" persistent width="300px" style="font-family: 'Kanit', sans-serif;">
    <v-card>
      <v-card-title style="font-family: 'Kanit', sans-serif; font-size: 18pt; text-align: center;"> Payment </v-card-title>
      <v-container>
        <v-row>
          <v-col>
            <v-progress-linear indeterminate :height="7"></v-progress-linear>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div style="text-align: center; font-size: 16pt;">ยอดรวม: {{ receiptStore.receipt.total }} บาท</div>
          </v-col>
        </v-row>
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="receiptStore.paymentCredit = false"
        >
         ยกเลิก
        </v-btn>
        <v-btn color="green-darken-1" variant="text" @click="receiptStore.showbill()">
          ถัดไป
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
