<script setup lang="ts">
import { ref, nextTick } from 'vue'

import { type Product } from '@/types/POS/Product'

import ProductList from '@/components/POS/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptDialog from './ReceiptDialog.vue'
import ReceiptCard from './ReceiptCard.vue'
import MemberCard from './MemberCard.vue'
import PaymentDialog from './PaymentDialog.vue'

import { useReceiptStore } from '@/stores/POS'

const receiptStore = useReceiptStore()
const products1: Product[] = [
  { id: 1, name: 'เอสเพรสโซ่', price: 50.0, type: 1 },
  { id: 2, name: 'อเมริกาโน่', price: 40.0, type: 1 },
  { id: 3, name: 'คาปูชิโน่', price: 45.0, type: 1 },
  { id: 4, name: 'ชาเขียว', price: 60.0, type: 1 },
  { id: 5, name: 'ลาเต้ อาร์ต', price: 50.0, type: 1 },
  { id: 6, name: 'ลาเต้', price: 55.0, type: 1 },
  { id: 7, name: 'ช็อกโกเเลต', price: 45.0, type: 1 },
  { id: 8, name: 'ท็อปฟี่นัท', price: 50.0, type: 1 },
  { id: 9, name: 'ชาสับปะรด', price: 45.0, type: 1 },
  { id: 10, name: 'ชาไต้หวัน', price: 50.0, type: 1 },
  { id: 11, name: 'ชามิ้น', price: 45.0, type: 1 },
  { id: 12, name: 'ชาพีส', price: 45.0, type: 1 },
  { id: 13, name: 'ชาอูหลง', price: 40.0, type: 1 },
  { id: 14, name: 'สตอเบอรี่นมสด', price: 70.0, type: 1 },
  { id: 15, name: 'ชาชากุระ', price: 45.0, type: 1 },
  { id: 16, name: 'ชากุหลาบ', price: 45.0, type: 1 }
]
const products2: Product[] = [
  { id: 17, name: 'โดนัท', price: 50.0, type: 2 },
  { id: 18, name: 'ขนมปังโฮลวีท', price: 40.0, type: 2 },
  { id: 19, name: 'ขนมปังเนย', price: 45.0, type: 2 },
  { id: 20, name: 'ครัวซอง', price: 60.0, type: 2 },
  { id: 21, name: 'บราวนี่', price: 50.0, type: 2 },
  { id: 22, name: 'คุกกี้', price: 55.0, type: 2 }
]
const products3: Product[] = [
  { id: 23, name: 'พายไก่', price: 50.0, type: 3 },
  { id: 24, name: 'แซนวิชปูอัด', price: 40.0, type: 3 },
  { id: 25, name: 'แซนวิชทูน่า', price: 45.0, type: 3 }
]
const showReceipt = function () {
  receiptStore.showreceiptDialog(receiptStore.selectedPayment)
}

const tab = ref(1)
const selected = function (p: Product) {
  receiptStore.addReceiptItems(p)
  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}
const divReceiptItems = ref<HTMLElement | null>(null)
</script>
<template>
   <v-parallax src="./img/cafe/shop.jpg" max-height="100%" max-width="100%" cover>
  <v-container style="font-family: 'Kanit', sans-serif;" >
    <v-row>
      <v-col cols="12" md="6" lg="6">
        <v-sheet min-width="350" max-width="900" height="840" elevation="6">
          <v-tabs v-model="tab" color="rgb(5, 49, 41)" align-tabs="center">
            <v-tab :value="1">เครื่องดื่ม</v-tab>
            <v-tab :value="2">ขนมหวาน</v-tab>
            <v-tab :value="3">ของทานเล่น</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="products1" @selected-product="selected" />
            </v-window-item>
            <v-window-item :value="2">
              <ProductList :products="products2" @selected-product="selected" />
            </v-window-item>
            <v-window-item :value="3">
              <ProductList :products="products3" @selected-product="selected" />
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>
      <v-col cols="12" md="6" lg="6">
        <v-container style="padding: 0%">
          <v-row>
            <v-col cols="12">
              <div class="table" ref="divReceiptItems" >
                <v-sheet min-width="350" max-width="900" height="400" elevation="6">
                  <ReceiptDetailTable />
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="350" max-width="900" height="80" elevation="6">
                <MemberCard />
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="350" max-width="900" height="200" elevation="6">
                <ReceiptCard />
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="350" max-width="900" height="80" elevation="6">
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="lg" size="x-large" variant="tonal" elevation="2" color="deep-orange-accent-3" @click="receiptStore.clearReceipt()">ยกเลิก</v-btn>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="lg" size="x-large" variant="tonal" elevation="2" color="green-accent-3" @click="showReceipt()">ชำระเงิน</v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
  <ReceiptDialog/>
  <PaymentDialog/>
</v-parallax>
</template>
<style scoped>
div.table {
  height: 400px;
  overflow: auto;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
