<script setup lang="ts">
import { useReceiptStore } from '@/stores/POS'

const receiptStore = useReceiptStore()
</script>
<template>
  <v-container>
    <v-row no-gutters style="text-align: center">
      <v-col cols="6" style="padding: 1%"> SubTotal: </v-col
      ><v-col cols="6"> {{ receiptStore.receipt?.subtotal }} </v-col>
      <v-col cols="6" style="padding: 1%"> Discound: </v-col
      ><v-col cols="6"> {{ receiptStore.receipt?.discount }} </v-col>
      <v-col cols="6" style="padding: 1%"> Total: </v-col
      ><v-col cols="6"> {{ receiptStore.receipt?.total }} </v-col>
      <v-col cols="6" style="padding: 1%"> Payment Type: </v-col
      ><v-col>
        <v-combobox
          v-model="receiptStore.selectedPayment"
          label="Payment Type"
          :items="['Cash', 'Promptpay', 'Credit card']"
          variant="solo-filled"
          density="compact"
          bg-color="blue-grey-lighten-5"
        ></v-combobox>
      </v-col>
    </v-row>
  </v-container>
  
</template>
