<script setup lang="ts">
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';
import {useLoginStore} from "@/stores/login"
const loginStore = useLoginStore();
const form = ref<InstanceType<typeof VForm>|null>(null)
const email = ref('')
const password = ref('')
const valid = ref(true)

async function onSubmit() {
    const {valid} = await form.value!.validate();
    if(valid){
        loginStore.login(email.value);
    }
}
</script>
<template>
  <v-parallax src="./img/cafe/shop.jpg" max-height="100%" max-width="100%" cover>
    <v-card class="mx-auto px-6 py-8 custom-card" max-width="450" max-height="650" style="margin-top: 230px;">
        <v-img :src="`./img/cafe/LOGO.png`" max-height="250" cover></v-img>
      <h1 style="text-align: center; margin-bottom: 5%;">Login</h1>
      <v-form ref="form" v-model="valid">
        <v-text-field
          v-model="email"
          class="mb-2"
          clearable
          label="Email"
          append-inner-icon="mdi-email"
          :rules="[(v) => !!v || 'Email is required',(v) => /.+@.+\..+/.test(v) || 'E-mail must be valid']"
          required
        ></v-text-field>
        <v-text-field
          v-model="password"
          clearable
          type="password"
          label="Password"
          placeholder="Enter your password"
          append-inner-icon="mdi-lock"
          :rules="[(v) => !!v || 'Password is required',(v) => v.length > 2 || 'Password must be more than 2 characters']"
          required
        ></v-text-field>

        <br />

        <v-btn
          block
          color="brown-darken-2"
          size="large"
          type="submit"
          variant="elevated"
          @click="onSubmit()"
        >
          Sign In
        </v-btn>
      </v-form>
    </v-card>
  </v-parallax>
</template>
<style scoped>
.custom-card {
    border: 2px solid rgba(82, 61, 56, 0.952);
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 25px rgba(0, 0, 0, .5);
}
</style>
