<script setup lang="ts">
// ????????????????????????????????????????????????????
import type { WorkInfo } from '@/types/WorkInfo'
import type { User } from '@/types/other/User'
import { nextTick, ref } from 'vue'
// ---------------------Date Time--------------------
// ++++++++++++++++++++++++++++++++++++++++++++++++
interface DataItem {
  id: number
  email: string
  timeIn?: Date
  timeOut?: Date
}

const dataArray = ref<DataItem[]>([])

const addData = () => {
  const now = new Date()
  const data: DataItem = {
    id: dataArray.value.length + 1,
    email: 'example@example.com',
    timeIn: now
  }
  dataArray.value.push(data)
}

const checkInOut = (index: number) => {
  const now = new Date()
  if (dataArray.value[index].timeOut) {
    dataArray.value[index].timeIn = now
    dataArray.value[index].timeOut = undefined
  } else {
    dataArray.value[index].timeOut = now
  }
}

const formatDateTime = (date: Date) => {
  return date.toLocaleString()
}
// ++++++++++++++++++++++++++++++++++++++++++++++++
// ''''''''''''''''''''''''''''''''''''''''''''

let isWorkData = true

// ''''''''''''''''''''''''''''''''''''''''''''
import { onMounted } from 'vue'

const formattedDatetime = ref('')

onMounted(() => {
  // Get current date and time
  const now = new Date()
  formattedDatetime.value = now.toLocaleString()
})

interface DateTimeItem {
  formattedDatetime: string
}
// const datetimeArray = ref([]);
const datetimeArray = ref<DateTimeItem[]>([])
const addDatetime = () => {
  const now = new Date()
  datetimeArray.value.push({
    formattedDatetime: now.toLocaleString()
  })
}
// --------------------------------------------------

const tab = ref(1)
// const selected = (p: Product) => {
//   console.log('ProductView: ' + p)

// }

// const workInfo = ref<WorkInfo[]>([])
const workInfo = ref<WorkInfo[]>([
  {
    id: 1,
    email: 'gg',
    password: 'pass'
  },
  {
    id: 2,
    email: 'gg',
    password: 'pass'
  }
])
const addWorkInfo = () => {
  workInfo.value.push({
    id: workInfo.value.length + 1,
    email: 'D ka',
    password: 'D kub'
    // เพิ่ม properties อื่น ๆ ตามต้องการ
  })
}
const headers = [
  {
    title: 'User',
    key: 'user',
    value: 'user'
  },
  {
    title: 'Time-In',
    key: 'timeIn',
    value: 'timeIn'
  },
  {
    title: 'Time-Out',
    key: 'timeOut',
    value: 'timeOut'
  },
  {
    title: 'Total Time',
    key: 'totalTime',
    value: 'totalTime'
  },
  {
    title: '',
    key: 'totalTime',
    value: 'totalTime'
  }
]
//// Dialog Check In
let editedIndex = -1
const dialog = ref(false)
const form = ref(false)
function onSubmit() {}
const initilWork: WorkInfo = {
  id: -1,
  email: '',
  password: ''
}
const editedWork = ref<WorkInfo>(JSON.parse(JSON.stringify(initilWork)))
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedWork.value = Object.assign({}, initilWork)
    editedIndex = -1
  })
}

const isRequired = (errorMessage: string = 'Field is required') => (v: any) => !!v || errorMessage;
import { getCurrentInstance} from 'vue';
const refForm = ref<any>(null);
// ... (rest of your code)

async function save() {
  // Trigger form validation
  await nextTick();
  await refForm.value?.validate();
  // Check if the form is valid
  if (!form.value) return;

  // Validate the form
  const isFormValid = await refForm.value?.validate();

  if (!isFormValid) {
    // If the form is not valid, return without saving
    return;
  }

  if (editedIndex > -1) {
    // If editing an existing entry
    Object.assign(dataArray.value[editedIndex], {
      email: editedWork.value.email,
      timeIn: new Date(),
    });
  } else {
    // If adding a new entry
    const now = new Date();
    const newData: DataItem = {
      id: dataArray.value.length + 1,
      email: editedWork.value.email,
      timeIn: now,
    };
    dataArray.value.push(newData);
  }

  closeDialog();
}

///////
</script>

<template>
  <v-main class="d-flex align-center justify-center" style="min-height: 400px; min-width: 300px">
    <v-container style="background-color: black">
      <!-- Your content goes here -->
      <v-row style="background-color: #08342c">
        <h1 style="font-size: 40pt; color: white;">Check Work Attendance</h1>
      </v-row>
      <v-row style="background-color: red">
        <v-col cols="12" md="12" style="background-color: burlywood">
          <v-sheet min-width="600" max-width="1800" height="800" elevation="6">
            <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
              <v-tab :value="1" style="font-size: 30px">Check-In/Check-Out</v-tab>
              <!-- <v-tab :value="2" style="font-size: 30px">Work-Time-History</v-tab> -->
            </v-tabs>
            <!-- ///////Table/////// -->
            <v-data-table fixed-header height="550px">
              <!-- Head -->
              <thead>
                <tr>
                  <th class="text-left" style="width: 1px;">User</th>
                  <th class="text-left" style="width: 100px;">
                    Time-In
                  </th>
                  <th class="text-left" style="width: 100px;">
                    Time-Out
                  </th>
                  <th class="text-left" style="width: 20px;">
                    <v-dialog v-model="dialog" persistent width="1024">
                      <template v-slot:activator="{ props }">
                        <v-btn color="primary" v-bind="props"> Check In </v-btn>
                      </template>
                      <v-card>
                        <v-card-title>
                          <span class="text-h5">User Check In</span>
                        </v-card-title>
                        <v-card-text>
                          <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                            <v-container>
                              <v-row>
                                <v-col cols="12" sm="12" md="4">
                                  <v-text-field
                                    v-model="editedWork.email"
                                    :rules="[isRequired()]"
                                    class="mb-2"
                                    clearable
                                    label="Email"
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="4">
                                  <v-text-field
                                    v-model="editedWork.password"
                                    :rules="[isRequired('Password is required')]"
                                    clearable
                                    label="Password"
                                    placeholder="Enter your password"
                                    type="password"
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-form>
                          <small>*indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue-darken-1" variant="text" @click="closeDialog()">
                            Close
                          </v-btn>
                          <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in dataArray.slice().reverse()" :key="index">
                  <!-- <td>{{ item.id }}</td> -->
                  <td>{{ item.email }}</td>
                  <td>{{ item.timeIn ? formatDateTime(item.timeIn) : '-' }}</td>
                  <td>{{ item.timeOut ? formatDateTime(item.timeOut) : '-' }}</td>
                  <!-- <td>{{ item.timeOut ? 'Checked Out' : 'Checked In' }}</td> -->
                  <td>
                    <button @click="checkInOut(dataArray.length - index - 1)" style="color: red;">
                      {{ item.timeOut ? '' : 'Check Out' }}
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>user1</td>
                  <td>15/1/2567 07:55:34</td>
                  <td>15/1/2567 09:55:34</td>
                  <td></td>
                </tr>
                <tr>
                  <td>user2</td>
                  <td>15/1/2567 19:55:34</td>
                  <td>15/1/2567 21:55:34</td>
                  <td></td>
                </tr>
                <tr>
                  <td>user1</td>
                  <td>15/1/2567 21:55:34</td>
                  <td>15/1/2567 22:55:34</td>
                  <td></td>
                </tr>
              </tbody>
            </v-data-table>
            <!-- <button @click="addWorkInfo">Add work</button> -->
            
            <!-- <div>
              <button @click="addData" style="color: red; font-size: 30px;">Add Data</button>
            </div> -->
            
            <!-- <div>
              <p id="datetime">{{ formattedDatetime }}</p>
              <p v-for="(item, index) in datetimeArray" :key="index" :id="'datetime_' + index">
                {{ item.formattedDatetime }}
              </p>
              <button @click="addDatetime">Add Date Time</button>
            </div> -->
            <!-- ///////////////// -->

            <!-- <v-table fixed-header height="300px" style="background-color: aquamarine;">
                <thead>
                  <tr>
                    <th class="text-left">Name</th>
                    <th class="text-left">Calories</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in desserts" :key="item.name">
                    <td>{{ item.name }}</td>
                    <td>{{ item.calories }}</td>
                  </tr>
                </tbody>
              </v-table> -->

            <!-- ///////////////////////////////// -->

            <!-- <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="products1" @selectedProduct="selected"> </ProductList
            ></v-window-item>

            <v-window-item :value="2">
              <ProductList :products="products2" @selectedProduct="selected"> </ProductList
            ></v-window-item>

            <v-window-item :value="3">
              <ProductList :products="products3" @selectedProduct="selected">
              </ProductList></v-window-item></v-window
        > -->
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>
