<script setup lang="ts">
import { onMounted } from 'vue'
import { nextTick, ref } from 'vue'
import type { VForm } from 'vuetify/components';
type User = {
  id: number
  fullName: string
  salary: number
  paid: boolean
 

}
let selected: []
const paidSalary = function (){

}

const headers = [
  {
    title: 'ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Full Name',
    key: 'fullName',
    value: 'fullName'
  },
  {
    title: 'Salary',
    key: 'salary',
    value: 'salary'
  },
  {
    title: 'Paid',
    key: 'paid',
    value: 'paid'
  }
]
const users = ref<User[]>([])
// function paid() {
//   selected = users.value = {paid: true}
// }

function initialize() {
  users.value = [
    {
      id: 1,
      fullName: 'Jirapat',
      salary: 23000,
      paid: false
    },
    {
      id: 2,
      fullName: 'Chanon',
      salary: 23000,
      paid: false
    },
    {
      id: 3,
      fullName: 'Pakawat',
      salary: 23000,
      paid: false
    }
  ]
}
onMounted(() => {
  initialize()
})
</script>

<template>
  <v-card     flat
    color="transparent"
>
<v-card-title class="display-1 font-weight-bold"
      >Manage Payroll</v-card-title
    >
    <v-data-table :headers="headers" :items="users" v-model="selected" :users="users" item-value="users" show-select>
      <template v-slot:top>
        <v-toolbar flat>
         
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>


          <v-btn color="primary" @click="paidSalary()"> Pay </v-btn>
          <v-btn color="primary" :to="{ name: 'users' }"> List User </v-btn>
        </v-toolbar>
      </template>

    
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
      <template v-slot:[`item.paid`]="{ item }">
        <v-checkbox v-model="item.paid" readonly></v-checkbox>
      </template>
    </v-data-table>

  </v-card>
</template>
