<script setup lang="ts">
import type { BuyMaterial } from '@/types/Stock/BuyMaterial'
import { useBuyMaterial } from '@/stores/buymaterial'
import { useReceiptMaterialStore } from '@/stores/receiptmaterial'
import BuyMaterialList from '@/components/Stock/BuyMaterialList.vue'
import RecieptBuyMaterialCard from '@/components/Stock/RecieptBuyMaterialCard.vue'
import BuyMaterialTable from './BuyMaterialTable.vue'
import RecieptBuyMaterialDialog from './RecieptBuyMaterialDialog.vue'
import { nextTick, ref } from 'vue'
const buyMaterialStore = useBuyMaterial()
const receiptMaterialStore = useReceiptMaterialStore()
const tab = ref(1)
const divReceiptMetrialItems = ref<HTMLElement | null>(null)

const selected = (p: BuyMaterial) => {
  console.log('ProductView' + p)
  receiptMaterialStore.addReceiptMaterialItem(p)
  nextTick(() => {
    if (divReceiptMetrialItems.value) {
      divReceiptMetrialItems.value.scrollTo(0, divReceiptMetrialItems.value.scrollHeight)
    }
  })
}

const showReceipt = function () {
  receiptMaterialStore.showRecieptDialog()
}
</script>
<template>
  <v-parallax src="./img/cafe/shop.jpg">
    <div style="text-align: center">
      <h1>BUY MATERIAL</h1>
    </div>
    <v-container style="font-family: 'Kanit', sans-serif">
      <v-row>
        <v-col cols="12" md="6">
          <v-sheet min-width="300" max-width="870" height="690" elevation="6">
            <v-window v-model="tab">
              <v-window-item :value="1">
                <BuyMaterialList
                  :buyMats="buyMaterialStore.buymat"
                  @selectedMaterial="selected"
                ></BuyMaterialList>
              </v-window-item>
            </v-window>
          </v-sheet>
        </v-col>
        <v-col cols="12" md="6">
          <v-row>
            <v-col cols="12">
              <div ref="divReceiptMaterialItem" style="height: 300; overflow: auto">
                <v-sheet min-width="300" max-width="870" height="500" elevation="6">
                  <BuyMaterialTable></BuyMaterialTable>
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="870" height="50" elevation="6">
                <RecieptBuyMaterialCard></RecieptBuyMaterialCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="870" height="90" elevation="6">
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-btn
                        block
                        rounded="lg"
                        size="x-large"
                        variant="tonal"
                        elevation="2"
                        color="deep-orange-accent-3"
                        @click="receiptMaterialStore.clear()"
                        >ยกเลิก</v-btn
                      >
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-btn
                        block
                        transition="dialog-top-transition"
                        rounded="lg"
                        size="x-large"
                        variant="tonal"
                        elevation="2"
                        color="green-accent-3"
                        @click="showReceipt()"
                        >ชำระเงิน</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <RecieptBuyMaterialDialog></RecieptBuyMaterialDialog>
  </v-parallax>
</template>
@/stores/receiptmaterial
