<script setup lang="ts">
import { ref } from 'vue';
import { materialitem as originalMaterialItem } from '@/stores/materialy';

const dialog = ref(false);
const materialitem = ref([...originalMaterialItem]); // Create a local copy

const checkValues = ref<string[]>([]);

const saveData = () => {
  // Update the local copy
  materialitem.value.forEach((item, index) => {
    item.quantity = item.quantity+ parseFloat(checkValues.value[index]) || 0;
    checkValues.value[index] = '';
  });

  originalMaterialItem.splice(0, originalMaterialItem.length, ...materialitem.value);


  dialog.value = false;
};
</script>
<template>
  
  <div>
    <v-card height="900px"> <v-card-text style="text-align: center;" class="text-h3">CheckStock</v-card-text> 
      <v-card class="ma-2">
        <v-table fixed-header max-height="480px">
                            <thead>
                                <tr>
                                  <th>ID</th>
                                    <th>Item Name</th>
                                    <th>price</th>
                                    <th>Min</th>
                                    <th>Qty</th>
                                    <th>unit</th>


                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in materialitem" :key="item.id">
                                  <td>{{ item.id}}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item. quantitymin}}</td>
                                    <th>{{ item. quantity}}</th>
                                    <td>{{ item.unit }}</td>                                  
                                </tr>
                            </tbody>
                        </v-table>
    </v-card >  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      width="1024"
      
    >
      <template v-slot:activator="{ props }">
        <v-btn
          color="green"
          v-bind="props"
          class="ma-5 text-right"
        >
        check stock
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">check stock</span>
        </v-card-title>
        <v-card-text>
          <v-table fixed-header max-height="480px">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Item Name</th>
                                    <th>price</th>
                                    <th>Min</th>
                                    <th>Qty</th>
                                    <th>unit</th>
                                    <th>check</th>

                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item,index in materialitem" :key="item.id">
                                    <td>{{ item.id}}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item. quantitymin}}</td>
                                    <th>{{ item. quantity}}</th>
                                    <td>{{ item.unit }}</td>  
                                    <td><v-text-field v-model="checkValues[index]" type="number"></v-text-field></td>                               
                                </tr>
                            </tbody>
                        </v-table>
        
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="saveData"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialog"
      persistent
      width="1024"
      
    >
      <template v-slot:activator="{ props }">
        <v-btn
          color="green"
          v-bind="props"
          class="ma-5 text-right"
        >
        Import stock
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5"> Import stock</span>
        </v-card-title>
        <v-card-text>
          <v-table fixed-header max-height="480px">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Item Name</th>
                                    <th>price</th>
                                    <th>Min</th>
                                    <th>Qty</th>
                                    <th>unit</th>
                                    <th>import</th>

                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item,index in materialitem" :key="item.id">
                                    <td>{{ item.id}}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item. quantitymin}}</td>
                                    <th>{{ item. quantity}}</th>
                                    <td>{{ item.unit }}</td>  
                                    <td><v-text-field v-model="checkValues[index]" type="number"></v-text-field></td>                               
                                </tr>
                            </tbody>
                        </v-table>
        
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="saveData"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
    </v-card>

  </div>
</template>
