<script setup lang="ts">
import { useReceiptMaterialStore } from '@/stores/receiptmaterial'
import { useDateStore } from '@/stores/date';
import { inject, type Ref } from 'vue'

const variants = ['outlined']
const dateStore = useDateStore()
const receiptStore = useReceiptMaterialStore()
</script>
<template>
  <v-row justify="center">
        <v-dialog v-model="receiptStore.recieptDialog" persistent width="600px" min-height="800px " max-height="auto" transition="dialog-top-transition">
            <v-card >
                <v-card-title class="text-h5 text-center">
                    <v-icon size="80px" icon="mdi-store-plus">
                    </v-icon>
                </v-card-title>

                <v-card-title class="text-h5 text-center">
                    <div>
                        Receipt Buy Material
                    </div>
                    <div class="mb-1" style="text-align: end;font-size: 16px;">
                        {{ dateStore.day }} {{ dateStore.monthEn }} {{ dateStore.year }}
                    </div>
                    <div class="mb-1" style="text-align: end;font-size: 16px;">
                        {{ dateStore.formattedHour }}:{{ dateStore.formattedMinute }}
                    </div>
                    <div class="mb-1" style="text-align: end;font-size: 16px;">
                        บุญดี มีญาติ
                    </div>
                </v-card-title>

                <v-card-text>
                    <v-form ref="refForm">
                        <v-table fixed-header max-height="480px">
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item) of receiptStore.receiptMaterialItems" :key="item.id">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.unit }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.price * item.unit }}</td>
                                </tr>
                            </tbody>
                        </v-table>
                    </v-form>
                </v-card-text>
                <v-card-text class="flex-container">
                    <v-row>
                        <v-col cols="6">
                            <div class="mb-1" style="text-align: start">Total</div>
                        </v-col>
                        <v-col cols="6">
                            <div class="mb-1" style="text-align: end">
                                {{ receiptStore.receipt.total }}
                            </div>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <div>
                        <v-spacer></v-spacer>
                        <v-btn color="red-darken-1" variant="text" @click="receiptStore.recieptDialog = false, receiptStore.clear()">
                            close
                        </v-btn>
                    </div>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
@/stores/receiptmaterial